{% extends 'testapp/base.html' %}
{% block title %}
home
{% endblock  %}
{% block content %}


<div calss="container">
      <h1>what is feedback?</h1><br>
      <p>Process in which the effect or output of an action is 'returned' (fed-back)
            to modify the next action. Feedback is essential to the working and survival of
            all regulatory mechanisms found throughout living and non-living nature, and in
            man-made systems such as education system and economy. As a two-way flow, feedback
            is inherent to all interactions, whether human-to-human, human-to-machine, or
            machine-to-machine. In an organizational context, feedback is the information
            sent to an entity (individual or a group) about its prior behavior so that the entity
            may adjust its current and future behavior to achieve the desired result.

      </p>
      <h2>Why feedback is important?</h2>
      <ul>
            <li>
                  <p>If you ask someone in your organization when feedback occurs,
                        they will typically mention an employee survey, performance appraisal,
                        or training evaluation. In actuality, feedback is around us all the time.
                        Every time we speak to a person, employee, customer, vendor, etc., we communicate
                        feedback. In actuality, it’s impossible not to give feedback.</p>
            </li>
            <li>
                  <p>Whether the feedback is done verbally or via a feedback survey, the person
                        providing the feedback needs to know they have been understood (or received)
                        and they need to know that their feedback provides some value. When conducting
                        a survey, always explain why respondents’ feedback is important and how their
                        feedback will be used.</p>
            </li>
            <li>
                  <p>By asking for feedback, it can actually motivate employees to perform better.
                        Employees like to feel valued and appreciate being asked to provide feedback
                        that can help formulate business decisions. And feedback from client, suppliers,
                        vendors, and stakeholders can be used to motivate to build better working
                        relations</p>
            </li>
            <li>
                  <p>Feedback is often mistaken for criticism. In fact, what is viewed as
                        negative criticism is actually constructive criticism and is the best
                        find of feedback that can help to formulate better decisions to improve
                        and increase performance.</p>
            </li>
            <li>
                  <p>Invest time in asking and learning about how others experience working
                        with your organization. Continued feedback is important across the entire
                        organization in order to remain aligned to goals, create strategies,
                        develop products and services improvements, improve relationships, and
                        much more. Continued learning is the key to improving.</p>
            </li>
      </ul>
</div>
{% endblock  %}